<div ng-controller="View2Ctrl as ctrl">
    <table style="border: solid;border-width: 1px">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>created date</th>
            <th>is done</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in ctrl.zadania">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.addTime}}</td>
            <td>{{task.done}}</td>
            <td>
                <input type="checkbox" ng-checked="task.done" ng-click="ctrl.changeTaskState(task.id)">
            </td>
        </tr>
        </tbody>
    </table>
</div>


