<div style="width: auto;" ng-controller="View5Ctrl as ctrl">
    Formularz edycji użytkownika: {{ctrl.edited_user_id}}
    <div>
        <div>Name:</div>
        <div><input type="text" ng-model="ctrl.ramka_edycji.edited_name"></div>
    </div>
    <div>
        <div>Surname:</div>
        <div><input type="text" ng-model="ctrl.ramka_edycji.edited_surname"></div>
    </div>
    <div>
        <div>Address:</div>
        <div><input type="text" ng-model="ctrl.ramka_edycji.edited_address"></div>
    </div>
    <div>
        <input type="button" value="Zapisz" ng-click="ctrl.wyslij()">
    </div>
</div>