<div style="width: auto;" ng-controller="View1Ctrl as ctrl">
    <table style="border: solid;border-width: 1px">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th>address</th>
            <th>email</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in ctrl.dane">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td ng-if="user.surname==null">N/A</td>
            <td ng-if="user.surname!=null">{{user.surname}}</td>
            <td>{{user.address}}</td>
            <td>{{user.email}}</td>
            <!--<td>hidden</td>-->
            <td>
                <input type="button" ng-click="ctrl.editUsers(user.id)" value="Edytuj">
            </td>
        </tr>
        </tbody>
    </table>
</div>